body {
    width: 100%;
    background-color: #000;
}

#content {
    width: 800px;
    height: 600px;
    border: 5px solid #000;
    margin: 25px auto;
    background-color: #b5b6b7;
}


#gameBoard {
    height: 520px;
    width: 790px;
    margin: 0 auto;
    padding-right: 0px;
    background-color: #66cbf0;
    border: 5px ridge #898a8b;
}
